<!-- Navbar -->
<div class="row" id="navbar">

    <div class="col-md-2">
        <a href="./howitworks.html">
            <h5 class="mt-5 navLink">How It Works</h5>
        </a>
    </div>

    <div class="col-md-2">
        <div class="media" data-toggle="modal" data-target="#registerModal">
            <div class="media-body">
                <h5 class="mt-3 navLink">Register</h5>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="navbar navbar-expand-lg navbar-light">
            <div class="col-lg-12 text-center" id="topCenter">
                <a href="/">

                    <h1 id="logo" class="mt-4 navLink">TIME
                        <img id="clock" src="../images/clock.gif" width="50" height="50">
                        <span> BANKER</span>
                    </h1>

                </a>
            </div>
        </div>

    </div>

    <div class="col-md-2">
        <a href="mailto:webmaster@example.com">
            <h5 class="mt-5 navLink">Contact us</h5>
        </a>
    </div>

    <div class="col-md-2">
        <h5 class="mt-5 navLink">Donate</h5>
    </div>

</div>

<!-- Login -->
<div class="container" id="loginContainer">

    <form id="signin" name="signin" method="post" action="signin">

        <!-- Username/Email Input Field -->
        <div class="row" id="userNameRow">

            <div class="col-4 mt-5">

                <div class="form-group">
                    <input type="text" name="email" class="form-control" id="inputUserName" aria-describedby="userName"
                        placeholder="Enter Username (Email)">
                </div>

            </div>

            <div class="col-8">
                <!-- empty -->
            </div>

        </div>

        <!-- Password Input Field -->
        <div class="row" id="passwordRow">

            <div class="col-4 mt-5">

                <div class="form-group">
                    <input type="password" name="password" class="form-control" id="inputPassword"
                        placeholder="Enter Password">
                </div>

            </div>

            <div class="col-8">
                <!-- empty -->
            </div>

        </div>

        <!-- Submit Button -->
        <div class="row mt-5" id="buttonRow">

            <div class="col-6">
                <input class="btn btn-primary" type="submit" value="Submit" id="loginSubmit">
            </div>

            <div class="col-5">
                <!-- empty -->
            </div>

        </div>


    </form>

</div>

<!-- Footer -->
<!-- <div class="row">
        <footer>
            <h6>Copyright &copy;</h6>
        </footer>
    </div> -->

<!-- This Modal to Register -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width:100%" role="document">
        <div class="modal-content">

            <!-- modal header -->
            <div class="modal-header">
                <h5 class="modal-title" id="registerHeader">Register</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form name="formRegister" id="formRegister" action='/submit' method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputName">First Name</label>
                            <input type="text" class="form-control" id="inputFirstName" placeholder="First name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputLastName">Last name</label>
                            <input type="text" class="form-control" id="inputLastName" placeholder="Last name">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputEmail4">Email</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Password</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Please Re-enter Password</label>
                            <input type="password" class="form-control" id="inputConfirmPassword"
                                placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Address</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">Address 2</label>
                        <input type="text" class="form-control" id="inputAddress2"
                            placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" id="inputCity">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <input type="text" id="inputState" class="form-control">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">Zip</label>
                            <input type="text" class="form-control" id="inputZip">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="inputSkill">Phone</label>
                            <input type="text" class="form-control" id="inputPhone">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputSkill">Skill</label>
                            <input type="text" class="form-control" id="inputSkill">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group col-md-12">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01"
                                    aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01">Choose photo</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="g-recaptcha" data-sitekey="6LckmY4UAAAAAEYkHkeeNOGpK5niQ0DfYe0q9CRv"></div>
                    <button id="submitRegister" type="submit" class="btn btn-primary">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>
</div>

<script>

    document.getElementById("formRegister").addEventListener("submit", submitForm);

    function submitForm(event) {
        event.preventDefault();

        const firstName = document.querySelector("#inputFirstName").value;
        const lastName = document.querySelector("#inputLastName").value;
        const captcha = document.querySelector("#g-recaptcha-response").value;

        fetch('/subscribe', {
            method: 'POST',
            headers: {
                'Accept': 'application/json, text/plain, */*',
                'Content-type': 'application/json'
            },
            body: JSON.stringify({ firstName: firstName, lastName: lastName, captcha: captcha })

        })
            .then((res) => res.json())
            .then((data) => {
                console.log(data);
                alert(data.msg);
            });
    }

</script>


{{!-- <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>

        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script> --}}